<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:j2="urn:j2">
<head>
    <title>Вопросы</title>
</head>
<body>
<h1>Вопросы</h1>

<form action="/questions" method="post">
    <!-- Форма для ввода вопроса, ответов и правильного ответа -->
</form>

<h2>Список вопросов:</h2>
<ul>
    <li th:each="q : ${questions}">
        <span th:text="${q.question}"></span>
    </li>
</ul>

<form action="/generateJson" method="get">
    <input type="submit" value="Сгенерировать JSON">
</form>
</body>
</html>